/* =======================================

	 CSS BrowserReset BaseElements

 ======================================= */
html, body, div, span, nav, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, button, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, hgroup,
main, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-style: inherit;
	font-weight: inherit;
	background: transparent;
}
html {
	font-size: 10px;
	line-height: 1;
	overflow-y: scroll;
}
img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	vertical-align: bottom;
}
strong {
	font-weight: bold;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
sup {
	font-size: 70%;
	vertical-align: super;
}
sub {
	font-size: 70%;
	vertical-align: sub;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}
input {
	vertical-align: middle;
	font-family: inherit;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 0;
}
textarea {
	resize: vertical;
	font-family: inherit;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
}
button {
	font-family: inherit;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select {
	vertical-align: middle;
	font-family: inherit;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* for IE select */
select::-ms-expand {
	display: none;
}
/* for IE clear */
input::-ms-clear {
	display: none;
}
/* for IE password */
input::-ms-reveal {
	display: none;
}
option {
	padding-right: 10px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}

/* ------------------------------
	HTML5 ELEMENTS
------------------------------ */
header, footer, article, section, aside,
main, nav, menu, details, summary, figcaption, figure {
	display: block;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

